<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{program.name}}">
  <ion-content class="">
    <div class="item item-body item-text-wrap item-assertive" ng-if="offline === true">
      <div><i class="icon ion-ios-close-outline"></i> Error: Cannot connect to Youtube.</div>
      <div>Please connect to the internet.</div>
    </div>
    <img class="full-image" ng-src="{{program.img}}">
    <ion-list class="video-list">
      <ion-item class="item-avatar item-text-wrap" ng-repeat="programItem in programItems" type="item-text-wrap" ui-sref="tab.video({ videoId: programItem.snippet.resourceId.videoId })">
        <img ng-src="{{programItem.snippet.thumbnails.default.url}}">
        <h2>{{programItem.snippet.title}}</h2>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
