<ion-view view-title="About">
<button id="fab" class="the-fab button button-positive button-fab button-fab-bottom-right animate-fade-slide-in-right" style="display: block;">
    <i class="icon ion-social-facebook"></i>
</button>
  <ion-content>
	<div class="card">
		<img class="full-image" src="img/smni.png">
	    <div class="item item-body item-text-wrap">
	        <p>Sonshine Media Network International (SMNI) is the leader in alternative media which revolutionizes the power of the air by bringing socially responsible programs to the global audience, promoting wholesome entertainment, empowering the youth to become responsible and dependable citizens, and broadcasting the Word of God as preached by Pastor Apollo C. Quiboloy of the Kingdom of Jesus Christ.</p>
	        <p>SMNI, which was established in 2005 in Davao City, Philippines, now reaches 200 countries and 2000 cities with over 600 million viewers worldwide and aims to continuously expand and widen its reach both locally and internationally by creating top quality programs that are geared towards:
	            <br> (a) Socio-Economic Awareness
	            <br> (b) Youth Empowerment
	            <br> (c) Business and Livelihood
	            <br> (d) Health and Lifestyle
	            <br> (e) Educational Programs
	            <br> (f) Environmental Advocacies, and
	            <br> (g) Spiritual Growth
	        </p>
	        <p>Inspired by its Founding CEO and President, Pastor Apollo C. Quiboloy, SMNI goes beyond the norms of corporate responsibility by placing service first before profit and interest.</p>
	    </div>
	    <div class="item item-text-wrap item-divider item-dark">
	        *** Features ***
	    </div>
	    <div class="item item-text-wrap item-stable">
	        <ol class="has-subheader">
	            <li>
	                <p>* Gives you access to SMNI's online streaming and it's YouTube videos in one place.</p>
	            </li>
	            <li>
	                <p>* Receive updates of Pastor Apollo's Facebook page and share it to your family and friends via Email, Messaging and social networks ( The app will automatically pull all available social networks that are installed on your device like Twitter, Facebook, and Google+ ).</p>
	            </li>
	        </ol>
	    </div>
	</div>

<!-- 	<div class="padding">
		<a href="#" class="button button-block button-positive" ng-click="like()">Like Us on Facebook</a>
		<button class="button button-positive button-fab" ng-click="like()"><i class="icon ion-social-facebook light"></i></button>
	</div> -->
	<!-- <button class="button button-positive button-fab button-fab-bottom-right" ng-click="like()"><i class="icon ion-social-facebook light"></i></button>	 -->
  </ion-content>
</ion-view>
